<h1>Users</h1>

<p>Click on a user below to see their profile:</p>

<table class='table'>
  <thead class='thead-dark'>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% users.each do |user| %>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.email %></td>
      <% end %>
    </tr>
  </tbody>
</table>